/**
 * author - Illia Olenchenko
 * group  - PM-1 (OM)
 */

// Imports
@import "plot.scss";

body {
  overflow: visible !important;
}

// Main page
.mno-toolbar {
  border-radius: 3px;
  margin-top: 10px;
}
