<!-- Main form descent -->
<form name="descent">
  <md-subheader class="md-primary">
    Descent
    <md-tooltip md-direction="top">
      General options for descent method
    </md-tooltip>
  </md-subheader>
  <div flex layout="row" layout-align="space-between stretch">
    <md-input-container class="md-block" flex="45">
      <label>Accuracy</label>
      <input ng-model="descentCtrl.descent.accuracy" type="number" ng-max="1" ng-min="0" step="0.0001">
      <md-icon md-svg-src="/images/ic_info_black_24px.svg" aria-label="android">
        <md-tooltip md-direction="top">
          Set accuracy that we need to get (used in main loop, from 0 to 1)
        </md-tooltip>
      </md-icon>
    </md-input-container>
    <md-input-container flex="45">
      <label>Exit Rule</label>
      <md-select ng-model="descentCtrl.descent.exitRule">
        <md-option ng-value="rule.value" ng-repeat="rule in descentCtrl.exitRules">{{ rule.name }}</md-option>
      </md-select>
    </md-input-container>
  </div>
  <div flex layout="row" layout-align="space-between center">
    <md-input-container class="md-block" flex="45">
      <label>First Point X</label>
      <input ng-model="descentCtrl.descent.point.x" type="number" step="1">
    </md-input-container>
    <md-input-container class="md-block" flex="45">
      <label>First Point Y</label>
      <input ng-model="descentCtrl.descent.point.y" type="number" step="1">
    </md-input-container>
    <md-tooltip md-direction="top">
      Set point that we want to start from
    </md-tooltip>
  </div>
  <div flex layout="row" layout-align="space-between center">
    <md-input-container class="md-block" flex="45">
      <label>First step</label>
      <input ng-model="descentCtrl.descent.step" type="number" ng-min="0" step="0.5">
      <md-icon md-svg-src="/images/ic_info_black_24px.svg" aria-label="android">
        <md-tooltip md-direction="top">
          Set first step for method (could be changed with armijo rule) - positive
        </md-tooltip>
      </md-icon>
    </md-input-container>
    <md-input-container class="md-block" flex="45">
      <md-checkbox ng-model="descentCtrl.descent.compile" aria-label="To compile?">
        Compile
      </md-checkbox>
    </md-input-container>
  </div>
  <md-subheader class="md-primary">
    Armijo
    <md-tooltip md-direction="top">
      General options for Armijo rule
    </md-tooltip>
  </md-subheader>
  <div flex layout="row" layout-align="space-between center">
    <md-input-container class="md-block" flex="45">
      <label>Epsilon</label>
      <input ng-model="descentCtrl.descent.epsilon" type="number" ng-max="1" ng-min="0" step="0.1">
      <md-icon md-svg-src="/images/ic_info_black_24px.svg" aria-label="android">
        <md-tooltip md-direction="top">
          Set level of pushing next iteration (to decrease step or not, from 0 to 1)
        </md-tooltip>
      </md-icon>
    </md-input-container>
    <md-input-container class="md-block" flex="45">
      <label>Delta</label>
      <input ng-model="descentCtrl.descent.delta" type="number" ng-max="1" ng-min="0" step="0.1">
      <md-icon md-svg-src="/images/ic_info_black_24px.svg" aria-label="android">
        <md-tooltip md-direction="top">
          Set multiplyer for step size decreasing (from 0 to 1)
        </md-tooltip>
      </md-icon>
    </md-input-container>
  </div>
  <div layout="row" layout-align="space-between start">
    <md-button class="md-raised md-primary" ng-click="descentCtrl.clearCache()">
      Clear cache
    </md-button>
    <md-button class="md-raised md-primary" ng-disabled="descentCtrl.$invalid" ng-click="descentCtrl.sendDescent(descentCtrl.descent)">
      Send
    </md-button>
  </div>
</form>

<!-- Plot -->

<mno-plot id="'plotDescent'"></mno-plot>
